<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate UUID</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div style="background-color: #FFCB42">
    <div>
        <h1 style="text-align: center">Генератор данных</h1>
    </div>
    <div style="padding: 10px">
        <div style="float: left; border: 1px solid black; margin-left: 10px; margin-bottom: 10px; background-color: white">
            <div>
                <h3 style="margin-top: 10px; margin-left: 10px; margin-bottom: 5px">Меню</h3>
                <ul style="margin: 10px">
                    <li><a href="/">CSV</a></li>
                    <li><a href="/generate_uuid">UUID</a></li>
                </ul>
            </div>
        </div>
        <div style="margin-left: 130px; margin-right: 10px;
        margin-bottom: 10px; display: block; border: 1px solid black; background-color: white">
            <h2 style="text-align: center">Генератор UUID в файл</h2>
            <div style="padding: 10px">
                <form th:action="@{/generate_uuid}" method="post">
                    <input type="number" th:name="count" required value="1" placeholder="Количество"></br>
                    <input type="submit" th:value="Отправить"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>