<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body bgcolor="#9ED2C6">

    <h1 style="text-align: center">File Data Generator</h1>

    <div class="container" style="align-items: center; display: flex; flex-direction: column">
        <form th:action="@{/}" method="post">
            <p>
                <label>File name: </label>
                <input type="text" th:name="name" placeholder="File name">
            </p>
            <p>
                <label>Column:</label>
                <input type="text" th:name="column"/>
            </p>
            <input type="submit" th:value="GET"/>
        </form>
    </div>

</body>
</html>