<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Генератор данных</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
 <div>
     <div>
         <h1 style="text-align: center">Генератор данных</h1>
     </div>
     <div style="padding: 10px">
         <div style="float: left; border: 1px solid black; margin-left: 10px; margin-bottom: 10px; background-color: white">
             <div>
                 <h3 style="margin-top: 10px; margin-left: 10px; margin-bottom: 5px">Меню</h3>
                 <ul style="margin: 10px">
                     <li><a href="/">CSV</a></li>
                     <li><a href="/generate_uuid">UUID</a></li>
                 </ul>
             </div>
         </div>
         <div style="margin-left: 130px; margin-right: 10px;
        margin-bottom: 10px; display: block; border: 1px solid black; background-color: white">
             <h2 style="text-align: center">Генератор данных в файл</h2>
             <div style="padding: 10px">
                 <form th:action="@{/}" method="post">
                     <input type="text" th:name="name" placeholder="Данные"></br>
                     <input type="submit" th:value="Отправить"/>
                 </form>
             </div>
         </div>
     </div>
 </div>
</body>
</html>